@use '../variaveis';

.infos-bar {
    padding: 10px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    

    &__infos {
        display: flex;
        gap: 24px;

        &__item {
            font-size: 14px;
            color: variaveis.$secondaryTextColor;

            b {
                color: variaveis.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;
        padding: 10px;
        
        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
        
    }
    
}